@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
:root {
    font-size: 16px;
    --darkest-green: #0E2425;
    --darker-green: #123631;
    --dark-green: #23564B;
    --light-green: #4E826F;
    --lighter-green: #7EB69A;
    --lightest-green: #DEECCD;
    --burnt-orange: #A56144;
    --hero-gray: rgba(49, 49, 49, 0.50);
}

body {
    margin: 0;
    font-family: 'Audiowide', 'Lucida Console', monospace;
}

.container {
    display: flex;
}

.hero {
    width: max(50%, 3000px);
    height: 100vh;
    background-image: url('bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    background-color: var(--hero-gray);
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logoImg {
    width: 15rem;
}

h1 {
    font-size: 6rem;
    margin-right: 2.6rem;
    margin-left: -2rem;
}

.footerDiv {
    background-color: var(--hero-gray);  
    padding: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    font-size: min(90%, 1rem);
}

.formContainer {
    background-color: var(--dark-green);
    color: var(--lightest-green);
}