@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
:root {
    --darkest-green: #0E2425;
    --darker-green: #123631;
    --dark-green: #23564B;
    --light-green: #4E826F;
    --lighter-green: #7EB69A;
    --lightest-green: #DEECCD;
    --burnt-orange: #A56144;
    --hero-gray: rgba(0, 0, 0, 0.65);
    --form-gray: rgba(0, 0, 0, 0.75);
}

body {
    margin: 0;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.1rem;
    color: var(--lightest-green);
    background-color: var(--darker-green);
}

.container {
    display: flex;
    position: relative;
}

.heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 100vh;
    position: sticky;
    top: 0;
    background-image: url('bg2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heroContainer::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--hero-gray);
    box-shadow: inset 0px 0px 60px 60px black;
}

.heroTop {
    position: relative;
    z-index: 1;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.heroLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImg {
    width: 20rem;
    margin-left: -3rem;
}

.logoText {
    font-family: 'Audiowide', 'Lucida Console', monospace;
    font-size: 9rem;
    margin-left: -3rem;
}

.heroAbout {
    font-size: 1.5rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.heroFooter {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.formContainer {
    min-width: 30rem;
    padding: 1rem;
    box-shadow: inset 0px 0px 60px 60px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('bg3.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.formTitle {
    margin: 2rem 2rem 0;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border {
    border: solid;
    border-image-source: url(border.png);
    border-image-slice: 50 60 50 60;
    border-image-width: 10px;
    border-image-outset: 0px;
    border-image-repeat: stretch stretch;
}   

.tint {
    background-color: var(--form-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.innerFieldset {
    margin: 0 2rem 1rem;
}

ul {
    list-style-type: none;
}

.radio {
    display: grid;
    grid-template-columns: 1rem auto;
    gap: 0.5rem;
    margin: 0 1rem 0 -1.5rem;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15rem;
    height: 1.15rem;
    border: 0.15rem solid currentColor;
    border-radius: 50%;
    transform: translateY(0.1rem);

    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 0.65rem;
    height: 0.65rem;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1rem 1rem var(--light-green);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

.text {
    font-family: inherit;
    padding: 0.25rem 0.5rem;
    background-color: #fff;
    border: 2px solid var(--light-green);
    border-radius: 0.15rem;
    width: 90%;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1rem 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    grid-area: select;
}

.select {
    width: 90%;
    max-width: 30ch;
    border: 2px solid var(--light-green);
    border-radius: 0.15rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: var(--lightest-green);
    background-image: linear-gradient(to top, var(--lightest-green), white 75%);

    display: grid;
    grid-template-areas: "select";
    align-items: center;
}

.select::after {
    content: "";
    width: 0.8rem;
    height: 0.5rem;
    background-color: var(--light-green);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    grid-area: select;
    justify-self: end;
}

.serviceRequest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formSectionNote {
    margin: 0;
}

li {
    margin: .5rem;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15rem;
    height: 1.15rem;
    border: 0.15rem solid currentColor;
    border-radius: 0.15rem;
    transform: translateY(0.1rem);

    display: grid;
    place-content: center;

}

input[type="checkbox"]::before {
    content: "";
    width: 0.65rem;
    height: 0.65rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1rem 1rem var(--light-green);

    /* checkmark */
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.tooltip {
    position: relative; 

    /*For Checkbox Style*/
    display: grid;
    grid-template-columns: 1rem auto;
    gap: 0.5rem;
    margin: 0 1rem 0 -1rem;
}

.tooltip .tooltipText {
    visibility: hidden;
    width: 300px;
    background-color: var(--form-gray);
    color: var(--lightest-green);
    opacity: 0;
    transition: opacity 1s;
    text-align: center;
    padding: 5px;
    border-radius: 0.15rem;
   
    /* Position the tooltip text*/
    position: absolute;
    right: 100%;
}
  
.tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 0.9;
}

.button {
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    font-family: inherit;
    font-size: 1.5rem;
    padding: 0;
    margin-top: 1rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--burnt-orange);
    color: var(--darkest-green);
    border-radius: 0.15rem;
    box-shadow: 0 3px 5px var(--hero-gray);
    padding: 0.25rem 0.75rem;
    text-align: center;
    line-height: 1.1;

    transition: 220ms all ease-in-out;
    &:hover,
    &:hover {
        background-color: var(--lightest-green);
    }

    &:focus {
        outline-style: solid;
        outline-color: transparent;
        box-shadow: var(--lightest-green);
    }
}

a:link {
    color: var(--burnt-orange);
    background-color: transparent;
}

a:visited {
    color: var(--burnt-orange);
    background-color: transparent;
}