
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
:root {
    --darkest-green: #0E2425;
    --darker-green: #123631;
    --dark-green: #23564B;
    --light-green: #4E826F;
    --lighter-green: #7EB69A;
    --lightest-green: #DEECCD;
    --burnt-orange: #A56144;
    --hero-gray: rgba(15, 36, 37, 0.5);
    font-size: 1.75vh;
}

p,
legend,
li {
    font-size: 1.25rem;
}

body {
    margin: 0;
    font-family: 'Audiowide', 'Lucida Console', monospace;
    color: var(--lightest-green);
}

.container {
    display: flex;
    position: relative;
}

.hero {
    width: 40%;
    height: 100vh;
    background-image: url('bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: inset -30px 0px 30px -12px black;
}

.heroTop{
    background-color: var(--hero-gray);
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0px 0px 10px 10px var(--hero-gray);
}

.heroAbout {
    margin: 0 2rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.logoImg {
    width: 15rem;
}

h1 {
    font-size: 6rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 2.6rem;
    margin-left: -2rem;
}

.formTop {
    font-size: 2rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.footerDiv {
    background-color: var(--hero-gray);  
    padding: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    font-size: min(90%, 1rem);
    box-shadow: 0px 0px 10px 10px var(--hero-gray);
}

.formContainer {
    width: 60%;
    min-height: 110vh;
    max-height: none;
    background-image: url('border.png');
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    color: var(--lightest-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.formContainer::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--hero-gray);
    box-shadow: inset 0px 0px 90px 0px black;
}

.formContainer * {
    position: relative;
    z-index: 1;
}

.form {
    display: flex;
    flex-direction: column; 
}

.required {
    margin: -1rem 0 1rem 1rem;
}

.note {
    margin: -1rem 0 0rem 0;
}


button {
    align-self: center;
}

.conBorder {
    border: solid;
    border-image-source: url(border.png);
    border-image-slice: 50 60 50 60;
    border-image-width: 10px;
    border-image-outset: 0px;
    border-image-repeat: stretch stretch;
}

.contactInfo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.serviceRequest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: var(--darkest-green);
    color: var(--lightest-green);
    opacity: 0;
    transition: opacity 1s;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
   
    /* Position the tooltip text*/
    position: absolute;
    right: 100%;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.9;
}

button {
    font-size: 1.5rem;
    text-decoration: none;
    border: 3px solid var(--burnt-orange);
    background-color: var(--burnt-orange);
    font-family: inherit;
    padding: 0;
    cursor: pointer;
    color: var(--darkest-green);
    border-radius: 3px;
    box-shadow: 0 3px 5px var(--darkest-green);
    padding: 0.25rem 0.75rem;
    text-align: center;
    margin-top: 1rem;
}

button:hover,
button:focus {
    background-color: var(--lighter-green);
    border: 3px solid var(--lighter-green);
}

button:active {
    background-color: var(--burnt-orange);
    border: 3px solid var(--burnt-orange);
}